# Python for Gen AI

In [ ]:
print("hello")

hello

In [ ]:
print(123)

123

In [ ]:
print('hello', 123)

hello 123

In [ ]:
print('hello', 123, 10.5)

hello 123 10.5

In [ ]:
# sum of two numbers
x = 10
y = 20
z = x + y
print(z)

30

In [ ]:
# sum of two numbers
x = 10
y = 20
# z = x + y
print(x+y)

30

In [ ]:
'''
this is a multi line comment
this is the second line ...
third line
'''
print('hello')

hello

In [ ]:
"""
this is a multi line comment
this is the second line ...
third line
"""
print('hello')

hello

In [ ]:
x = 10
if x > 5:
    print('x is greater than 5')
    print('thank you')
    print('bye')
else:
    print('x is less than 5')
    print('see you later')
print('GOOD BYE')

x is greater than 5
thank you
bye
GOOD BYE

In [ ]:
x = 4
if x > 5:
    print('x is greater than 5')
    print('thank you')
    print('bye')
else:
    print('x is less than 5')
    print('see you later')
print('GOOD BYE')

x is less than 5
see you later
GOOD BYE

In [ ]:
count = 100
print(count)
print(type(count))

100
<class 'int'>

In [ ]:
total = 7.5
print(total)
print(type(total))

7.5
<class 'float'>

In [ ]:
message = "Hello :)"
print(message)
print(type(message))

Hello :)
<class 'str'>

In [ ]:
flag = True
print(flag)
print(type(flag))

True
<class 'bool'>

In [ ]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

In [ ]:
a = None
print(a)
print(type(a))
a = 10
print(a)
print(type(a))

None
<class 'NoneType'>
10
<class 'int'>

In [ ]:
b = 123
print(b)
print(type(b))
b = 10.5
print(b)
print(type(b))

123
<class 'int'>
10.5
<class 'float'>

In [ ]:
a, b = 3, 4
print(a)
print(b)

3
4

# Naming Convension

In [ ]:
# Bad naming convension
x = 10
b = "Ahmed"

# Good naming Convension

std_id = 10
std_name = "Ahmed"

# Strings and tuples are immutable lists

In [ ]:
str = "Hello"
print(str)
print(str[0])

Hello
H

In [ ]:
str[0] = 'h'
print(str)

TypeError: 'str' object does not support item assignment

In [ ]:
print(str)
str = "Good bye"
print(str)

Hello
Good bye

In [ ]:
# list is mutable
a = [1, 2, 3]
print(a)
a[0] = 10
print(a)

[1, 2, 3]
[10, 2, 3]

In [ ]:
b = (1, 2, 3)
print(b)

(1, 2, 3)

In [ ]:
b[0] = 10
print(b)

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = 10
print(a)
print(id(a))

10
139016827585040

In [ ]:
a = 13
print(a)
print(id(a))

13
139016827585136

In [ ]:
a = 13.5
print(a)
print(id(a))

13.5
139015545874544

In [ ]:
int(10.5)

10

In [ ]:
int("10")

10

In [ ]:
int("10")

10

In [ ]:
float("1.5")

1.5

In [ ]:
float("1.5.1")

ValueError: could not convert string to float: '1.5.1'

In [ ]:
abs(-10)

10

In [ ]:
str = "Python"
print(str[0])

P

In [ ]:
print(str[1])

y

In [ ]:
print(str[-1])

n

In [ ]:
print(str[-2])

o

In [ ]:
print(str[2:5])

tho

In [ ]:
print(str[2:])

thon

In [ ]:
print(str[:2])

Py

In [ ]:
print(str[::-1])

nohtyP

In [ ]:
filename = "data.csv"
ext = filename[-3:]
print(ext)

csv

# Strings Operations

In [ ]:
"Hello" + " " +  "World"

'Hello World'

In [ ]:
"Hello " * 3

'Hello Hello Hello '

In [ ]:
s = "Ahmed"
"a" in s

False

In [ ]:
"A" in s

True

In [ ]:
"Ah" in s

True

# String functions

In [ ]:
s = 'abc'
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
print([f for f in dir(s) if not f.startswith('__')])

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print([f for f in dir([]) if not f.startswith('__')])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
name = input('enter your name')
print('hello', name)

enter your nameAhmed
hello Ahmed

In [ ]:
fname = input('enter your first name: ')
lname = input('enter your last name: ')
print('hello {} {}'.format(fname, lname))

enter your first name: Ahmed
enter your last name: Ali
hello Ahmed Ali

In [ ]:
print(f"hello {fname} {lname}")

hello Ahmed Ali

# List

In [ ]:
x = 10
x = 20

x = [10, 20]

In [ ]:
len(x)

2

In [ ]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(tuple())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# prompt: generate a set example

# Create a set with unique elements
unique_set = {1, 2, 3, 4, 5}

# Print the set
print(unique_set)

{1, 2, 3, 4, 5}

In [ ]:
unique_set.add(4)
print(unique_set)

{1, 2, 3, 4, 5}

In [ ]:
unique_set.add(7)
print(unique_set)

{1, 2, 3, 4, 5, 7}

In [ ]:
list1 = ['123', 'Ahmed', 'CS']
print(f"dept: {list1[2]}")

dept: CS

In [ ]:
d = {
    'name': 'Ahmed',
    'age': 25,
    'dept': 'CS'
}
print(d)
print(d['name'])

{'name': 'Ahmed', 'age': 25, 'dept': 'CS'}
Ahmed

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list2 = [10, 8, 1, 9, 8]

for i in list2:
  print(i)

10
8
1
9
8

In [ ]:
for i in range(len(list2)):
  print(list2[i])

10
8
1
9
8

# functions

In [ ]:
# best practice is to pass arguments, return value

In [ ]:
def sum(a, b):
  return a + b

# exception

In [ ]:
total = input('enter the total: ')
discount = input('enter the discount: ')
amount = float(total) - float(total) * float(discount)
print(amount)

enter the total: 100
enter the discount: 0.2
80.0

In [ ]:
total = input('enter the total: ')
discount = input('enter the discount: ')
try:
  amount = float(total) - float(total) * float(discount)
  print(amount)
except ValueError:
  print('please enter numeric values')

enter the total: one hundrd
enter the discount: twenty percent

ValueError: could not convert string to float: 'one hundrd '

In [ ]:
text = open('/content/sample_data/README.md').read()

In [ ]:
text

"This directory includes a few sample datasets to get you started.\n\n*   `california_housing_data*.csv` is California housing data from the 1990 US\n    Census; more information is available at:\n    https://developers.google.com/machine-learning/crash-course/california-housing-data-description\n\n*   `mnist_*.csv` is a small sample of the\n    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is\n    described at: http://yann.lecun.com/exdb/mnist/\n\n*   `anscombe.json` contains a copy of\n    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it\n    was originally described in\n\n    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American\n    Statistician. 27 (1): 17-21. JSTOR 2682899.\n\n    and our copy was prepared by the\n    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).\n"

In [ ]:
with open('/content/sample_data/README.md') as f:
  text = f.read()
  print(text)

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# Dictionary

In [ ]:
data = { 'apples':[3, 2, 0, 1] ,'oranges':[0, 3,7,2]}
data

{'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}

In [ ]:
import pandas as pd
df = pd.DataFrame(data)
df

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [ ]:
df = pd.DataFrame(data, index=['Ahmed', 'Ali', 'Samir', 'Hamza'])
df

       apples  oranges
Ahmed       3        0
Ali         2        3
Samir       0        7
Hamza       1        2

In [ ]:
df.loc['Ahmed']

apples     3
oranges    0
Name: Ahmed, dtype: int64

In [ ]:
df2 = pd.read_csv('/content/sample_data/california_housing_test.csv')
df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df2.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df2.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [ ]:
df2.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
df2.shape

(3000, 9)

In [ ]:
df2.drop_duplicates()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df2.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000